.background {
  background-color: #333;
  text-align: center;
  -webkit-margin-top-collapse: discard;
  min-height: -webkit-fill-available;
}


.table_board {
  width: 100%;
  display: table;
}
.cardName {
  font-size: 30pt;
  color: #FFF;
}


.user_div {
  background-color: #066;
  -webkit-margin-before-collapse: discard;
}


.title_div {
  font-size: 50pt;
  color: #FFF;
  font-family: "Allerta Stencil", Sans-serif;
}
.title {
  display: flex;
  place-content: center;
  margin-block-end: auto;
}


.footer_div {
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin-bottom: 0px;
  padding: 0px;
}
